.section-adzan-info{position:-webkit-sticky; position:sticky; z-index:1; top:0px; color:var(--bg-1); fill:var(--bg-1);}
.sai-bg{position:absolute !important; z-index:1; top:0; left:0; width:100%; height:100%; background-color:var(--color-text-2);}
.sai-bg:before{padding-top:66.56%;}
.sai-bg img{opacity:0.34 !important;}
.sai-container{position:relative; z-index:1000; padding:var(--size-6) var(--size-4);
display:grid; grid-gap:var(--size-3); grid-template-columns:repeat(2,1fr);}
.sai-time *{line-height:100%;}
.sai-time-detail{font-size:36px; font-weight:bold; margin-top:var(--size-1);}
.sai-time-detail span{font-size:16px; font-weight:normal; text-transform:uppercase;}

.sai-sound-toggle{width:100%; height:100%; justify-content:flex-end !important; fill:var(--bg-2);}
.sai-sound-toggle .svgicon{width:auto; height:var(--size-5);}

.sai-loc{font-size:10px; display:flex; align-items:flex-end;}
.sai-loc *{line-height:100%;}
.sai-loc .svgicon{width:auto; height:14px; margin-right:var(--size-2);}
.sai-loc-label{position:relative; top:-3px;}

.sai-date *{font-size:10px; text-align:right;}


.section-adzan-list{background-color:var(--bg-1); border-radius:var(--rounded-2); overflow:hidden; position:relative; z-index:2000; margin-top:calc(var(--size-3) * -1);
display:grid; grid-gap:var(--size-3);}
.sal-box{display:grid; grid-gap:var(--size-3); grid-template-columns:1fr 1fr 34px;}
.sal-box *{display:flex; align-items:center;}
.sal-bell{justify-content:center; padding:var(--size-1); fill:var(--color-text-1);}
.sal-bell .svgicon{width:auto; height:var(--size-4);}