.alquran-tab{grid-template-columns:repeat(3,1fr);}

.alquran-list .dlc-box{--frame-size:48px; --grey-color:#BDBDBD; grid-template-columns:var(--frame-size) 1fr var(--size-2); grid-gap:var(--size-3); padding-bottom:var(--size-3);}
.alquran-list .dlc-number{position:relative; top:1px;}
.alquran-list .dlc-frame .svgicon, .alquran-list .dlc-post{width:var(--frame-size); height:var(--frame-size);}
.alquran-list .dlc-frame{position:relative; z-index:1; fill:var(--grey-color); line-height:100%;}
.alquran-list .dlc-post{position:absolute; z-index:1000; left:0; top:0; font-weight:normal; font-size:12px;}
.alquran-list .dlc-label{flex-wrap:wrap; align-content:center;}
.alquran-list .dlc-label > *{width:100%;}
.alquran-list .dlc-label-primary{font-size:var(--title-fontsize);}
.alquran-list .dlc-label-secondary{font-size:11px; margin-top:var(--size-1); color:var(--grey-color);}

.alquran-empty{min-height:calc(100vh - 260px);}
.alquran-empty .default-empty-icon .svgicon{max-width:80px;}

.surah-nav{display:grid; grid-gap:var(--size-3); grid-template-columns:auto 1fr auto; background-color:rgb(var(--color-border-dark) / 5%);
border-top:1px solid rgb(var(--color-border-dark) / 5%); border-bottom:1px solid rgb(var(--color-border-dark) / 5%);}
.surah-nav-button, .surah-nav-info{padding:var(--size-3) 0;}
.surah-nav-prev .surah-nav-container{border-right:1px dashed rgb(var(--color-border-dark) / 13%);}
.surah-nav-next .surah-nav-container{border-left:1px dashed rgb(var(--color-border-dark) / 13%);}
.surah-nav-container{padding:var(--size-2) var(--size-4);}
.surah-nav-button .svgicon{width:auto; height:var(--size-5);}
.surah-nav-name, .surah-nav-desc{text-align:center;}
.surah-nav-name{font-size:var(--title-fontsize); font-weight:bold; color:var(--color-text-2);}
.surah-nav-desc{font-size:12px;}



.alquran-detail{padding-left:var(--size-3) !important;}
.alquran-detail-box{display:grid; grid-gap:var(--size-2); grid-template-columns:auto 1fr;
padding-bottom:var(--size-4); margin-bottom:var(--size-4); border-bottom:1px dashed rgb(var(--color-border-dark) / 13%);}
.adb-button{padding:var(--size-2); line-height:100%;}
.adb-button .svgicon{width:auto; height:var(--size-4);}
.adb-content{grid-gap:var(--size-3) !important;}