.profile-list-container{margin-top:var(--size-4);}
.plc-box{display:grid; grid-gap:var(--size-4); grid-template-columns:var(--size-4) 1fr var(--size-2);
margin-bottom:var(--size-3); padding-bottom:var(--size-3); border-bottom:1px solid rgb(var(--color-border-dark) / 8%);}
.plc-box .svgicon{width:100%; height:auto;}
.plc-label{line-height:100%; font-weight:normal; display:flex; align-items:center;}