*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:414px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --menu-height:64px;
  --bg-1:#FAFAFA; 
  --bg-2:#FFFFFF; 
}

.theme-dark, .theme-dark :before, .theme-dark :after{
  --bg-1:#1f2125; 
  --bg-2:#000000; 
}


body, html{font-family:'Poppins',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden; width:100%; max-width:var(--site-container); margin:0 auto;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.sticky-link{position:relative; font-weight:bold;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.default-field{position:relative; padding:var(--size-3) var(--size-4); width:100%; border:1px solid;}
.default-tab{display:grid;}
.default-tab-link{display:block; text-align:center; padding:var(--size-2); border-bottom:3px solid; text-transform:capitalize; font-weight:normal;}
.default-tab-curr{font-weight:bold;}
.default-empty > span{display:grid; grid-gap:var(--size-3);}
.default-empty-icon .svgicon{height:auto; width:100%; fill:var(--color-text-1);}
.default-empty-title, .default-empty-desc{text-align:center; line-height:150%;}
.default-empty-title{font-size:18px; font-weight:bold;}

.notif-empty{min-height:calc(100vh - 125px);}
.notif-empty .svgicon{max-width:144px;}



.search-box{--button-width:48px; position:relative; margin-bottom:var(--size-3);}
.search-field{z-index:1; padding-right:var(--button-width);}
.search-button{position:absolute; z-index:1000; top:0; right:0; width:var(--button-width); height:100%;}



.rancak-container{min-height:100vh;}
.section-container{padding:var(--size-4);}
.section-title, .section-title-link{position:relative; font-weight:700; line-height:100%; padding-left:var(--size-3); margin-bottom:var(--size-4); font-size:var(--title-fontsize);}
.section-title-single{margin-bottom:0;}
.section-title:before{content:''; display:block; width:var(--size-1); height:100%; position:absolute; bottom:0; left:0;}
.section-title-link{display:grid; grid-gap:var(--size-3); grid-template-columns:var(--size-2) 1fr; padding-left:0; align-items:center;}
.section-title-icon .svgicon{width:auto; height:14px;}
.section-title-label{line-height:150%;}



menu{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 5000); bottom:0; background-color:var(--bg-2);
display:grid; grid-template-columns:repeat(5,1fr);}
.menu-link{height:var(--menu-height); font-weight:normal;}
.menu-link *{width:100%; line-height:100%; text-align:center;}
.menu-icon .svgicon{width:auto; height:var(--size-4);}
.menu-label{font-size:9px; margin-top:var(--size-1);}



.header-home{position:relative; margin-bottom:var(--size-4);}
.header-home-bg:before{padding-top:53.86%;}
.header-home-content{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; padding-top:20%; display:flex; flex-wrap:wrap; align-content:space-between;}
.hhc-top, .hhc-bottom{width:100%;}
.hhc-top{width:60px; height:60px; margin:0 auto;}
.hhc-bottom *{font-size:12px; text-align:center; color:var(--color-text-3);}
.hhc-bottom-time{font-weight:bold;}



.section-feature{--box-width:80px; display:flex; flex-wrap:wrap; justify-content:center;}
.section-feature-link{margin:var(--size-3); width:var(--box-width);}
.sfl-circle{width:var(--box-width); height:var(--box-width); border:2px solid;}
.sfl-circle img{width:auto; height:55%;}
.sfl-name{font-weight:normal; text-align:center; font-size:12px; margin-top:var(--size-1);}



.sfs-banner:before{padding-top:33.54%;}



.section-event-container{border:3px solid; padding:var(--size-4);}
.sec-box{--icon-size:45px; display:grid; grid-template-columns:var(--icon-size) 1fr; grid-gap:var(--size-4);}
.sec-image img{height:auto;}
.sec-title{font-size:18px;}
.sec-title b{font-size:21px;}
.sec-info{padding-bottom:var(--size-3); margin-bottom:var(--size-3); border-bottom:1px solid;}
.sec-address{font-size:12px;}



.section-article-list{display:grid; grid-gap:var(--size-3);}
.content-box{display:grid; grid-gap:var(--size-3); grid-template-columns:110px 1fr; position:relative; padding-bottom:var(--size-3); border-bottom:1px solid;}
.content-thumb-frame:before{padding-top:100%;}
.content-info{font-size:calc(var(--default-fontsize) - 2px);}
.content-info-channel, .content-info-desc{font-size:12px; font-weight:normal;}
.content-info-title{font-size:var(--default-fontsize); line-height:150%;}
.content-info-desc{line-height:150%;}



.profile-head{--thumb-size:76px; display:grid; grid-template-columns:var(--thumb-size) 1fr; grid-gap:var(--size-3);}
.profile-thumb{border:2px solid;}
.profile-thumb:before{padding-top:100%;}
.profile-head-right{display:grid; grid-gap:var(--size-1); grid-auto-rows:min-content; align-content:center;}
.profile-name{font-weight:bold; font-size:18px; line-height:150%;}
.profile-phone{font-size:11px;}



.dlc-box{display:grid; grid-gap:var(--size-4); grid-template-columns:1fr var(--size-2);
padding:var(--size-4) 0; border-bottom:1px solid rgb(var(--color-border-dark) / 8%);}
.dlc-box .svgicon{width:100%; height:auto;}
.dlc-label{line-height:100%; font-weight:normal; display:flex; align-items:center;}



.doa-detail-container{display:grid; grid-gap:var(--size-4);}
.ddc-arabic{text-align:right; font-size:30px;}
.ddc-spell, .ddc-indonesia, .ddc-desc p{line-height:160%;}
.ddc-spell{font-style:italic;}
.ddc-desc{display:grid; grid-gap:var(--size-3);}



.section-story-list::-webkit-scrollbar, .ayat-history-container::-webkit-scrollbar, .ayat-bookmark-container::-webkit-scrollbar{height:1px;}



.dzikir-container{min-height:calc(100vh - 120px);}
.dzikir-container > span{position:relative;}
.dzikir-bg{width:233px; position:relative;}
.dzikir-bg:before{padding-top:127.46%;}
.dzikir-button{position:absolute; z-index:1000; width:var(--button-size); height:var(--button-size);}
.dzikir-button-add{--button-size:98px; bottom:45px; left:69px;}
.dzikir-button-reset{--button-size:26px; bottom:151px; left:160px;}
.dzikir-number{position:absolute; z-index:1000; width:117px; height:50px; top:53px; left:58px; padding:0 var(--size-2);
display:flex; justify-content:flex-end; align-items:center;}



.alert{padding:var(--size-3) var(--size-4);}


