*,html,:before,:after{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;-moz-box-sizing:border-box;box-sizing:border-box;font-size:100%;text-align:left}img{color:transparent;font-size:0;vertical-align:middle;-ms-interpolation-mode:bicubic}ol,ul{list-style:none}li{display:list-item}a img{border:0}a{text-decoration:none}b,strong{font-weight:700}i,em{font-style:italic}img{max-width:100%}.btn,input[type=button],select,button{-webkit-appearance:none;cursor:pointer;background-color:transparent}.content_center{display:flex;justify-content:center;align-items:center}.hide{display:none}



:root, :before, :after{
  --site-container:414px;
  --size-1:5px;
  --size-2:8px;
  --size-3:13px;
  --size-4:21px;
  --size-5:34px;
  --size-6:55px;
  --size-7:89px;
  --max-zindex:2147483648;
  --default-fontsize:14px;
  --title-fontsize:16px;
  --bg-1:#FAFAFA; 
  --bg-2:#FFFFFF; 
}

.theme-dark, .theme-dark :before, .theme-dark :after{
  --bg-1:#1f2125; 
  --bg-2:#000000; 
}


body, html{font-family:'Poppins',sans-serif; font-size:var(--default-fontsize); font-weight:400; letter-spacing:0.4px; font-feature-settings:'lnum' 1; 
-webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased; 
-moz-osx-font-smoothing:grayscale; text-rendering:optimizeSpeed;}
html{scroll-behavior:smooth; min-height:100vh;}
body{background-color:var(--bg-1); overflow-x:hidden; width:100%; max-width:var(--site-container); margin:0 auto;}
a, button{font-weight:bold;}
.btn, a.btn, button.btn{padding:var(--size-3) var(--size-4); font-weight:normal; -webkit-appearance:none; text-transform:capitalize; 
display:flex; text-align:center; align-items:center; justify-content:center;}
.rancak-popup{display:none;}
.sticky-link{position:relative; font-weight:bold;}
.width-max{position:relative; width:100%; max-width:var(--site-container); margin:0 auto;}



.flex_ori{display:block; overflow:hidden; position:relative; line-height:0;}
.flex_ori:before{content:''; display:block;}
.flex_ori img{position:absolute; z-index:2; top:0; left:0; width:100%; height:100%; object-fit:cover;}
.flex_ori img:not([src]){visibility:hidden;}



.rancak-container{min-height:100vh;}
.section-container{padding:var(--size-4);}
.section-title{position:relative; font-weight:700; line-height:100%; padding-left:var(--size-3); margin-bottom:var(--size-3); font-size:var(--title-fontsize);}
.section-title:before{content:''; display:block; width:var(--size-1); height:100%; position:absolute; bottom:0; left:0;}
.section-ayat-title, .section-ayat-tab{border-bottom:1px solid; display:flex; margin-bottom:var(--size-3);}
.sat-label, .ayat-tab-button{border-bottom:2px solid;}
.ayat-tab-button{font-weight:normal; font-size:12px; margin-right:var(--size-3);}
.ayat-tab-button .svgicon{width:auto; height:14px;}
.ayat-tab-sort{margin-left:auto; margin-right:0;}



menu{position:-webkit-sticky; position:sticky; z-index:calc(var(--max-zindex) - 5000); bottom:0; background-color:var(--bg-2);
display:grid; grid-template-columns:repeat(5,1fr);}
.menu-link{height:64px; font-weight:normal;}
.menu-link *{width:100%; line-height:100%; text-align:center;}
.menu-icon .svgicon{width:auto; height:var(--size-4);}
.menu-label{font-size:9px; margin-top:var(--size-1);}



.header-home{position:relative; margin-bottom:var(--size-4);}
.header-home-bg:before{padding-top:53.86%;}
.header-home-content{position:absolute; z-index:1000; top:0; left:0; width:100%; height:100%; padding-top:20%; display:flex; flex-wrap:wrap; align-content:space-between;}
.hhc-top, .hhc-bottom{width:100%;}
.hhc-top{width:60px; height:60px; margin:0 auto;}
.hhc-bottom *{font-size:12px; text-align:center; color:var(--color-text-3);}
.hhc-bottom-time{font-weight:bold;}



.section-feature{--box-width:80px; display:flex; flex-wrap:wrap; justify-content:center;}
.section-feature-link{margin:var(--size-3); width:var(--box-width);}
.sfl-circle{width:var(--box-width); height:var(--box-width); border:2px solid;}
.sfl-circle img{width:auto; height:55%;}
.sfl-name{font-weight:normal; text-align:center; font-size:12px; margin-top:var(--size-1);}



.sfs-banner:before{padding-top:33.54%;}



.section-event-container{border:3px solid; padding:var(--size-4);}
.sec-box{--icon-size:45px; display:grid; grid-template-columns:var(--icon-size) 1fr; grid-gap:var(--size-4);}
.sec-image img{height:auto;}
.sec-title{font-size:18px;}
.sec-title b{font-size:21px;}
.sec-info{padding-bottom:var(--size-3); margin-bottom:var(--size-3); border-bottom:1px solid;}
.sec-address{font-size:12px;}



.section-article-list{display:grid; grid-gap:var(--size-3);}
.content-box{display:grid; grid-gap:var(--size-3); grid-template-columns:110px 1fr; position:relative; padding-bottom:var(--size-3); border-bottom:1px solid;}
.content-thumb-frame:before{padding-top:100%;}
.content-info{font-size:calc(var(--default-fontsize) - 2px);}
.content-info-channel, .content-info-desc{font-size:12px; font-weight:normal;}
.content-info-title{font-size:var(--default-fontsize); line-height:150%;}
.content-info-desc{line-height:150%;}



.section-story{border-bottom:1px solid;}
.section-story-list{display:grid; grid-gap:var(--size-3); grid-auto-flow: column; overflow-x:auto;}
.story-box{width:77px;}
.story-thumb-frame{width:100%; border:1px solid;}
.story-thumb-frame:before{padding-top:100%;}
.story-thumb-frame img{object-position:top center;}
.story-username{text-align:center; font-size:11px; width:100%; line-height:100%; margin-top:var(--size-1); font-weight:normal;
display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:1; overflow:hidden;}



.feed-box{--icon-size:30px; margin-bottom:var(--size-5); display:grid; grid-gap:var(--size-3);}
.feed-head, .feed-user{display:flex;}
.feed-head{justify-content:space-between;}
.feed-avatar, .feed-button{width:var(--icon-size); height:var(--icon-size);}
.feed-avatar{border-radius:50%;}
.feed-username{display:flex; align-items:center; margin-left:var(--size-2);}
.feed-button .svgicon{width:100%; height:auto;}
.feed-menu-button{justify-content:flex-end;}
.feed-menu-button .svgicon{width:55%; height:auto;}
.feed-thumb:before{padding-top:56.25%;}
.feed-nav{--nav-icon:24px; display:flex; flex-wrap:wrap; justify-content:space-between;}
.feed-nav-left, .feed-nav-right{display:grid; grid-gap:var(--size-3); grid-auto-flow:column; grid-template-columns:repeat(auto-fit, minmax(var(--nav-icon),1fr));}
.fnl-button .svgicon{width:auto; height:var(--nav-icon);}
.feed-nav-full{width:100%; line-height:100%; margin-top:var(--size-2);}
.feed-comment-show, .feed-date{font-size:10px; font-weight:normal;}
.feed-comment-input{--icon-size:24px; display:grid; grid-gap:var(--size-2); grid-template-columns:var(--icon-size) 1fr;}
.feed-comment-field{width:100%; background-color:transparent; border:0;}



.ayat-box{--diamond-size:36px; border:1px solid; padding:var(--size-3); align-items:center;
display:grid; grid-gap:var(--size-3); grid-template-columns:calc(var(--diamond-size) + var(--size-3)) 1fr 64px;}
.ayat-box-number{display:flex; justify-content:center; min-height:calc(var(--diamond-size) + var(--size-3));}
.ayat-box-number-rotate{width:var(--diamond-size); height:var(--diamond-size); transform:rotate(45deg); position:relative; top:var(--size-2);}
.ayat-box-number-rotate > b{transform:rotate(-45deg); font-size:12px;}
.ayat-box-arabic, .ayat-box-arabic img{height:var(--size-4);}
.ayat-box-subtitle, .ayat-box-total{font-size:11px; font-weight:normal;}
.ayat-box-info *{text-align:right;}
.ayat-box-total{margin-top:var(--size-1);}



.section-ayat-head{display:grid; grid-gap:var(--size-4);}

.sah-bismillah-frame{width:100%; max-width:360px;}
.sah-bismillah-frame:before{padding-top:13.95%;}
.sah-search{--icon-size:48px; position:relative;}
.sah-search-field, .sah-search-button{height:var(--icon-size);}
.sah-search-field{width:100%; position:relative; z-index:1; padding:0 var(--icon-size);}
.sah-search-button{position:absolute; top:0; width:var(--icon-size); z-index:1000;}
.sah-search-left{left:0;}
.sah-search-right{right:0;}

.sah-populer-list{display:flex; flex-wrap:wrap;}
.sah-populer-link{margin-right:var(--size-4); margin-top:var(--size-1); font-weight:normal; border-bottom:1px solid;}



.ayat-history-container{display:grid; grid-gap:var(--size-3); grid-auto-flow:column; overflow-x:auto;}
.ayat-history-box{width:144px; display:grid; grid-gap:var(--size-2); padding:var(--size-3);}
.ahb-name, .ahb-number{font-weight:normal; text-align:center;}
.ahb-arabic, .ahb-arabic img{height:var(--size-5);}
.ahb-arabic img{width:auto;}



.ayat-bookmark-container{display:grid; grid-gap:var(--size-3); grid-auto-flow:column; overflow-x:auto;}
.ayat-bookmark-container .ayat-box{--diamond-size:30px; width:233px; padding:var(--size-2);}
.ayat-bookmark-container .ayat-box-subtitle, .ayat-bookmark-container .ayat-box-total{font-size:9px;}
.ayat-bookmark-container .ayat-box-title{font-size:12px;}
.ayat-bookmark-container .ayat-box-arabic, .ayat-bookmark-container .ayat-box-arabic img{height:18px;}




.ayat-list-container{display:grid; grid-gap:var(--size-3);}



.section-story-list::-webkit-scrollbar, .ayat-history-container::-webkit-scrollbar, .ayat-bookmark-container::-webkit-scrollbar{height:1px;}


